<div id="form" class="border border-dark rounded">
  <div class="div1">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input  required minlength=5 maxlength=10 name="firstName" type="text" class="form-control" id="firstName" [(ngModel)]="firstName" >
    </div>
  
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="example@gmail.com" [(ngModel)]="email" name="email">
    </div>

    <div class="form-group">
      <label for="address">address</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="address" name="address">
    </div>
    <div class="form-group">
      <label for="city">city</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="city" name="city">
    </div>
    <div class="form-group">
      <label for="state">state</label>
      <input type="text" class="form-control" id="state" [(ngModel)]="state" name="state">
    </div>
<input class="btn btn-danger" type="submit" value="Delete" (click)="onDelete()">
<input class="btn btn-secondary" type="submit" value="Cancel" (click)="back()">
    <input class="btn btn-primary" type="submit" value="Update" (click)="onEdit()">
  </div>

</div>
